In [1]:
%matplotlib inline
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import string
upcase = [x for x in string.ascii_uppercase]
lcase = [x for x in string.ascii_lowercase]

In [3]:
print(upcase[:5], lcase[:5])

['A', 'B', 'C', 'D', 'E'] ['a', 'b', 'c', 'd', 'e']

In [4]:
pd.DataFrame([upcase, lcase])

  0  1  2  3  4  5  6  7  8  9  ... 16 17 18 19 20 21 22 23 24 25
0  A  B  C  D  E  F  G  H  I  J ...  Q  R  S  T  U  V  W  X  Y  Z
1  a  b  c  d  e  f  g  h  i  j ...  q  r  s  t  u  v  w  x  y  z

[2 rows x 26 columns]

In [6]:
letters=pd.DataFrame([upcase, lcase]).T
print(letters)

    0  1
0   A  a
1   B  b
2   C  c
3   D  d
4   E  e
5   F  f
6   G  g
7   H  h
8   I  i
9   J  j
10  K  k
11  L  l
12  M  m
13  N  n
14  O  o
15  P  p
16  Q  q
17  R  r
18  S  s
19  T  t
20  U  u
21  V  v
22  W  w
23  X  x
24  Y  y
25  Z  z