In [3]:
%matplotlib inline
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Let's import the data we cleaned up from the last time, and use the head function to show the first few values

In [6]:
df = pd.read_csv('../PANDAS/data/date_fixed_running_data.csv')
df.head()

   Unnamed: 0  Miles Time
0  2014-08-01    0.0  NaN
1  2014-08-02    1.7  NaN
2  2014-08-03    1.4  NaN
3  2014-08-04    2.1  NaN
4  2014-08-05    0.0  NaN

As we can see the DataFrame hasn't imported the exact way we saved it. Let's first rename our columns so that they are: Date, Miles, Time. There are a few different ways to do this.

Now check to see the dtype of our "Unnamed" column to see if it still has the datetime type.

Let's parse the data so we get it back into datetime, we can do this by importing the data again and use parse_dates on the column 'Date' or by indexing by column number.

After double-checking that the column 'Date' has the dtype datetime let's index the DataFrame by 'Date' again and then plot the function. This should look like our last plot from Tutorial 1

Now that we have some of the basics down let's start manipulating this dataset further. 

First let's look examine the time column and try to get a sense of minutes per mile. If you think you have a sense of how to do this keep going and ignore my comments.

In the time column, there are a fair amount of NaN values, for now we are going to use a map function to --- them out and with the remaining data we are going to translate it all into seconds

hints: 
- PANDAS can break the data using the (:) that is already in the time data 
- use an if statement to return a np.nan if the time is not provided

Great! Now let's add that calculation to as a column to our dataframe and print out the first 15 values to make sure it is working

Now let's use the describe function to describe the dataset

as you can tell the np.NaN's were simply ignored, this is really useful and better than filling the empty values with zeros as this could change the statistics

Now let's make a new column that is in Minutes, we can do this by dividing the seconds column by 60. 

After adding the column, describe the dataframe then plot the DataFrame using a scatter plot with miles on the x-axis and minutes graphed on the y.

We can test the correlation of the dataset using .corr, try it out

now let's figure out minutes per mile we can to do this we can divide the columns

let's set a column to be 'Minutes per Mile' and then describe and scatter plot the dataframe again

We can also use a histogram describe this dataset. PANADS defaults to 10 bins but the set might be best described using 20 bins. 

Plot the 'minutes per mile column' using a histogram with 20 bins