In [1]:
%matplotlib inline
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pd.read_csv?

In [3]:
list(range(1,7))

[1, 2, 3, 4, 5, 6]

In [4]:
df=pd.read_csv('../PANDAS/Data/date_fixed_running_data_with_time.csv', parse_dates=['Date'],  usecols=list(range(0,6)))

In [5]:
df.dtypes

Date                datetime64[ns]
Miles                      float64
Time                        object
Seconds                    float64
Minutes                    float64
Minutes_per_Mile           float64
dtype: object

In [6]:
df.Date[0].strftime("%A")

'Friday'

In [7]:
df.Date.map(lambda x: x.strftime("%A")).head()

0      Friday
1    Saturday
2      Sunday
3      Monday
4     Tuesday
Name: Date, dtype: object

In [8]:
df['Day_of_week'] = df.Date.map(lambda x: x.strftime("%A"))
df.head()

        Date  Miles Time  Seconds  Minutes  Minutes_per_Mile Day_of_week
0 2014-08-01    0.0  NaN      NaN      NaN               NaN      Friday
1 2014-08-02    1.7  NaN      NaN      NaN               NaN    Saturday
2 2014-08-03    1.4  NaN      NaN      NaN               NaN      Sunday
3 2014-08-04    2.1  NaN      NaN      NaN               NaN      Monday
4 2014-08-05    0.0  NaN      NaN      NaN               NaN     Tuesday

In [9]:
df.to_csv('../PANDAS/data/DataForTutorial3.csv')

In [10]:
df.to_json('../PANDAS/data/DataForTutorial3.json')