In [4]:
%matplotlib inline
import sys
print(sys.version)
import numpy as np
print(np.__version__)
import pandas as pd
print(pd.__version__)
import matplotlib.pyplot as plt

3.6.3 |Anaconda, Inc.| (default, Oct  6 2017, 12:04:38)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
1.13.3
0.20.3

In [5]:
import string
upcase = [x for x in string.ascii_uppercase]
lcase = [x for x in string.ascii_lowercase]

In [6]:
print(upcase[:5], lcase[:5])

['A', 'B', 'C', 'D', 'E'] ['a', 'b', 'c', 'd', 'e']

In [7]:
pd.DataFrame([upcase, lcase])

  0  1  2  3  4  5  6  7  8  9  ... 16 17 18 19 20 21 22 23 24 25
0  A  B  C  D  E  F  G  H  I  J ...  Q  R  S  T  U  V  W  X  Y  Z
1  a  b  c  d  e  f  g  h  i  j ...  q  r  s  t  u  v  w  x  y  z

[2 rows x 26 columns]