In [57]:
%matplotlib inline
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [58]:
list(range(1,9))

[1, 2, 3, 4, 5, 6, 7, 8]

In [59]:
df= pd.read_csv('../PANDAS/data/DataForTutorial3.csv', parse_dates=['Date'], usecols=list(range(1,8)))

In [60]:
df

,Date,Miles,Time,Seconds,Minutes,Minutes_per_Mile,Day_of_week
0,2014-08-01,0.00,NaN,NaN,NaN,NaN,Friday
1,2014-08-02,1.70,NaN,NaN,NaN,NaN,Saturday
2,2014-08-03,1.40,NaN,NaN,NaN,NaN,Sunday
3,2014-08-04,2.10,NaN,NaN,NaN,NaN,Monday
4,2014-08-05,0.00,NaN,NaN,NaN,NaN,Tuesday
5,2014-08-06,2.38,NaN,NaN,NaN,NaN,Wednesday
6,2014-08-07,2.30,NaN,NaN,NaN,NaN,Thursday
7,2014-08-08,3.40,NaN,NaN,NaN,NaN,Friday
8,2014-08-09,2.50,NaN,NaN,NaN,NaN,Saturday
9,2014-08-10,3.36,0:28:37,1717.0,28.616667,8.516865,Sunday
10,2014-08-11,1.67,0:13:07,787.0,13.116667,7.854291,Monday
11,2014-08-12,1.42,0:10:35,635.0,10.583333,7.453052,Tuesday
12,2014-08-13,2.35,0:17:25,1045.0,17.416667,7.411348,Wednesday
13,2014-08-14,0.90,0:06:16,376.0,6.266667,6.962963,Thursday
14,2014-08-14,0.90,0:06:16,376.0,6.266667,6.962963,Thursday
15,2014-08-15,1.78,NaN,NaN,NaN,NaN,Friday
16,2014-08-16,0.65,NaN,NaN,NaN,NaN,Saturday
17,2014-08-17,1.34,NaN,NaN,NaN,NaN,Sunday
18,2014-08-18,0.65,NaN,NaN,NaN,NaN,Monday
19,2014-08-19,1.37,NaN,NaN,NaN,NaN,Tuesday
20,2014-08-19,1.37,NaN,NaN,NaN,NaN,Tuesday
21,2014-08-20,1.37,0:09:33,573.0,9.550000,6.970803,Wednesday
22,2014-08-21,1.37,0:09:24,564.0,9.400000,6.861314,Thursday
23,2014-08-22,1.37,0:09:05,545.0,9.083333,6.630170,Friday
24,2014-08-23,1.34,NaN,NaN,NaN,NaN,Saturday
25,2014-08-24,3.00,NaN,NaN,NaN,NaN,Sunday
26,2014-08-25,1.37,0:08:55,535.0,8.916667,6.508516,Monday
27,2014-08-25,1.34,NaN,NaN,NaN,NaN,Monday
28,2014-08-26,1.37,0:10:30,630.0,10.500000,7.664234,Tuesday
29,2014-08-27,2.50,0:25:00,1500.0,25.000000,10.000000,Wednesday
...,...,...,...,...,...,...,...
138,2014-12-05,0.00,NaN,NaN,NaN,NaN,Friday
139,2014-12-06,0.00,NaN,NaN,NaN,NaN,Saturday
140,2014-12-07,0.00,NaN,NaN,NaN,NaN,Sunday
141,2014-12-08,0.00,NaN,NaN,NaN,NaN,Monday
142,2014-12-09,2.93,0:25:00,1500.0,25.000000,8.532423,Tuesday
143,2014-12-10,0.00,NaN,NaN,NaN,NaN,Wednesday
144,2014-12-11,0.00,NaN,NaN,NaN,NaN,Thursday
145,2014-12-12,1.37,0:09:15,555.0,9.250000,6.751825,Friday
146,2014-12-13,5.30,0:43:36,2616.0,43.600000,8.226415,Saturday
147,2014-12-13,2.21,0:18:59,1139.0,18.983333,8.589744,Saturday
148,2014-12-14,0.00,NaN,NaN,NaN,NaN,Sunday
149,2014-12-15,6.50,0:58:43,3523.0,58.716667,9.033333,Monday
150,2014-12-16,0.00,NaN,NaN,NaN,NaN,Tuesday
151,2014-12-17,12.00,1:39:00,5940.0,99.000000,8.250000,Wednesday
152,2014-12-18,0.00,NaN,NaN,NaN,NaN,Thursday
153,2014-12-19,3.10,0:26:15,1575.0,26.250000,8.467742,Friday
154,2014-12-20,14.80,2:15:00,8100.0,135.000000,9.121622,Saturday
155,2014-12-21,0.00,NaN,NaN,NaN,NaN,Sunday
156,2014-12-22,3.10,0:28:00,1680.0,28.000000,9.032258,Monday
157,2014-12-23,5.63,0:51:50,3110.0,51.833333,9.206631,Tuesday
158,2014-12-24,3.05,0:25:08,1508.0,25.133333,8.240437,Wednesday
159,2014-12-25,14.80,2:20:00,8400.0,140.000000,9.459459,Thursday
160,2014-12-26,5.20,NaN,NaN,NaN,NaN,Friday
161,2014-12-27,0.00,NaN,NaN,NaN,NaN,Saturday
162,2014-12-28,0.00,NaN,NaN,NaN,NaN,Sunday
163,2014-12-29,0.00,NaN,NaN,NaN,NaN,Monday
164,2014-12-30,3.15,0:22:10,1330.0,22.166667,7.037037,Tuesday
165,2014-12-31,0.00,NaN,NaN,NaN,NaN,Wednesday
166,2015-01-01,26.20,4:20:43,15643.0,260.716667,9.951018,Thursday
167,2015-01-02,0.00,NaN,NaN,NaN,NaN,Friday