This is a function is used to apply a function that you've developed to your part or all of your dataset.

Before we dive into it let's look at some fuctions that PANDAS has that are in similar vain to rolling_apply.

In [133]:
%matplotlib inline
import sys
import os
import numpy as np
import pandas as pd
print(pd.__version__)
import matplotlib.pyplot as plt

0.20.3

First, let's do a rolling sum, look how it takes certian vlaues into contsideration. Also notice how the nan value is accounted for in this example differently than how they were in past math examples.

In [180]:
df1 = pd.DataFrame({'B': [0, 1, 2, np.nan, 4]})
df1

     B
0  0.0
1  1.0
2  2.0
3  NaN
4  4.0

In [181]:
df1.rolling(2).sum()

     B
0  NaN
1  1.0
2  3.0
3  NaN
4  NaN

We can also take the rolling mean of a dataset.

In [183]:
df2 = pd.DataFrame({'C': np.arange(1,30,2)})
df2

     C
0    1
1    3
2    5
3    7
4    9
5   11
6   13
7   15
8   17
9   19
10  21
11  23
12  25
13  27
14  29

In [184]:
pd.rolling_mean(df2, 2)

/Users/Emily/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: pd.rolling_mean is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(window=2,center=False).mean()
  """Entry point for launching an IPython kernel.

       C
0    NaN
1    2.0
2    4.0
3    6.0
4    8.0
5   10.0
6   12.0
7   14.0
8   16.0
9   18.0
10  20.0
11  22.0
12  24.0
13  26.0
14  28.0

The concept of applying a function to all the values works on series as we can see below

In [185]:
def subtract_custom_value(x, custom_value, debug=False):
    return x-custom_value

series = pd.Series([20, 21, 12])
series.apply(subtract_custom_value, args=(5,), debug=True)

0    15
1    16
2     7
dtype: int64

Let's try it on a DataFrame now

In [175]:
df3=pd.DataFrame({'A': np.arange(1,30,2), 'B': np.arange(1,60,4)} , dtype= 'int64')
df3

     A   B
0    1   1
1    3   5
2    5   9
3    7  13
4    9  17
5   11  21
6   13  25
7   15  29
8   17  33
9   19  37
10  21  41
11  23  45
12  25  49
13  27  53
14  29  57

In [186]:
def times_3 (x):
    if x >4:
        return x * 3
    else:
        return x

In [187]:
df3['A'].apply(times_3)

0      1
1      3
2     15
3     21
4     27
5     33
6     39
7     45
8     51
9     57
10    63
11    69
12    75
13    81
14    87
Name: A, dtype: int64

notice that when we want to apply a function to a column in a dataframe we will single out that column before the .apply function. By default the .apply funciton asks for the axis you want to apply the function to.

In [189]:
series.apply(times_3)

0    60
1    63
2    36
dtype: int64

Another function that could be useful could be applymap. This function is useful for applying functions that are meant to operate elementwise, i.e. like doing map(func, series) for each series in the DataFrame

In [192]:
df = pd.DataFrame(np.random.randn(3, 3))
df

          0         1         2
0 -0.554146  1.071969 -2.632899
1  1.092825 -1.017478  0.140589
2  0.418209 -1.178999  0.353400

In [193]:
df = df.applymap(lambda x: '%.2f' % x)
df

       0      1      2
0  -0.55   1.07  -2.63
1   1.09  -1.02   0.14
2   0.42  -1.18   0.35