This is a function is 
Before we dive into it let's look at some similar fuctions that PANDAS has

In [98]:
%matplotlib inline
import sys
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt

first let's do a rolling sum, look how it takes certian vlaues into contsideration. Also notice how the nan value is accounted for in this example differently than how they were in past math examples.

In [99]:
df1 = pd.DataFrame({'B': [0, 1, 2, np.nan, 4]})
df1

     B
0  0.0
1  1.0
2  2.0
3  NaN
4  4.0

In [100]:
df1.rolling(2).sum()

     B
0  NaN
1  1.0
2  3.0
3  NaN
4  NaN

we can also take the rolling average of a dataset

In [68]:
df2 = pd.DataFrame({'C': np.arange(1,30,2)})
df2

     C
0    1
1    3
2    5
3    7
4    9
5   11
6   13
7   15
8   17
9   19
10  21
11  23
12  25
13  27
14  29

In [69]:
pd.rolling_mean(df2, 2)

/Users/Emily/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: pd.rolling_mean is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(window=2,center=False).mean()
  """Entry point for launching an IPython kernel.

       C
0    NaN
1    2.0
2    4.0
3    6.0
4    8.0
5   10.0
6   12.0
7   14.0
8   16.0
9   18.0
10  20.0
11  22.0
12  24.0
13  26.0
14  28.0

For our rolling_apply function let's look at a slightly larger dataset
using the (?) function we can see that rolling_apply takes in a dataset and window similar to the rolling mean above but it also asks for a function to apply to the DataFrame as we will see below

In [70]:
df= pd.read_csv('../PANDAS/data/date_fixed_running_data.csv', parse_dates=[0])
cols = ['Date', 'Miles', 'Time']
df.columns = cols
df.head()

        Date  Miles Time
0 2014-08-01    0.0  NaN
1 2014-08-02    1.7  NaN
2 2014-08-03    1.4  NaN
3 2014-08-04    2.1  NaN
4 2014-08-05    0.0  NaN

In [107]:
def moving_average(values):
    ma = mean(values)
    return ma

In [109]:
df1=pd.rolling_apply(df['1', 10, moving_average])

KeyError: ('1', 10, <function moving_average at 0x1c0e887840>)

In [95]:
?pd.rolling_apply

In [104]:
def f1 (x):
    if x>=5:
        return x*2
    else:
        return 0

In [105]:
df5= pd.rolling_apply(f1, 10, df)

AttributeError: 'function' object has no attribute 'rolling'