In [1]:
%matplotlib inline
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

We are going to import the data a little differently this time. I have created a data set that adds the day of the week run as a column. To import this without having to rename columns we are going to parse the data for datetime and grab the column names all at once as shown below

In [2]:
list(range(1,9))

[1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
df= pd.read_csv('../PANDAS/data/DataForTutorial3.csv', parse_dates=['Date'], usecols=list(range(1,8)))
df.head()

        Date  Miles Time  Seconds  Minutes  Minutes_per_Mile Day_of_week
0 2014-08-01    0.0  NaN      NaN      NaN               NaN      Friday
1 2014-08-02    1.7  NaN      NaN      NaN               NaN    Saturday
2 2014-08-03    1.4  NaN      NaN      NaN               NaN      Sunday
3 2014-08-04    2.1  NaN      NaN      NaN               NaN      Monday
4 2014-08-05    0.0  NaN      NaN      NaN               NaN     Tuesday

We can now plot, using a bar plot, which day he runs most frequently

They all look rather similar when in reality there are more days missed than shown above. Let's plot this again but exclude any days when 'Miles' is a NaN value

A little more realistic looking. Before diving in further let's delete some of the extraneous columns that we've added in that are no longer needed.

Let's delete the 'Time' column and use the .pop command to remove the 'seconds' column from the DataFrame. 

Notice how these two are functionally different although both remove the column from the working DataFrame

Well done. Pandas true strength comes in how it groups things. We are going to show this in this dataset by examining the data on a week by week basis

First, remove all instances of Miles > 0 in the 'Miles' column

Now we are going to use the groupby function to sort by day of week, print the .size of the function when you are ready which should tell you how many times he ran per each day. Another good statistical analysis is the .count which will break down the relationships of the other columns to the day of week

You can really use any of the common functions in analyzing grouping data, such as .sum, .describe, and .mean

Try calling all of the data for the group 'Tuesday'

We can also organize all of the data by the day of the week using a two variable for loop go ahead and try it out

One of the big takeaways from this section is how powerful the grouping function is in PANDAS. The grouping method allows us to create manageable chunks of data, analysis them and then merge those pieces back with the whole DataFrame seamlessly. While the dataset we worked on was fairly small one can imagine the uses for this method.